/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: maroon;
  font-family: "Oswald", sans-serif;
  /* text-shadow: -1px 2px 0px #000; */
}

a {
  /* opacity: 1; */
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: black;
  /* opacity: 0.5; */
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 25px;
}

nav {
  border-right: 1px solid gray;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 50px 30px 50px 40px;
}

nav img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 60%;
}

nav ul {
  list-style: none;
  margin: 40px 0 0;
  padding: 0;
}

nav ul a {
  display: block;
  padding: 10px 0 10px 30px;
  border-bottom: 1px solid gray;
}

nav ul a:hover {
  padding: 20px 0 20px 30px;
}

nav ul a:hover {
  font-weight: bold;
}

nav li:first-child a {
  border-top: 1px solid gray;
}

main {
  padding-left: 300px;
}

.container {
  padding: 100px 50px 100px 30px;
}

.hero_image {
  background-image: url(../images/one.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  height: 400px;
  margin: 50px 0 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: all 0.2s ease;
  overflow: hidden;
  position: relative;
}

.hero_image:hover {
  transform: scale(1.005);
}

.hero_image .shower_grower {
  background-image: url(../images/one.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
  transform-origin: center;
}
.hero_image .shower_grower:hover {
  /* transform: scale(2); */
  /* height: 110%;
  width: 110%; */
  top: 90%;
  left: 90%;
}

.three_col {
  display: flex;
}

.three_col .col {
  border-right: 1px solid gray;
  flex: 1;
  padding: 20px;
}

.three_col .three {
  border: none;
}

.container footer {
  margin-top: 30px;
}

footer .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
}

footer .contact p {
}

footer .contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .contact ul li {
  display: inline-block;
}

footer .contact ul li a img {
  width: 35px;
}
